@font-face {
	font-family: 'TTHoves';
	src: url('../fonts/TTHoves-Regular.eot');
	src: local('☺'), url('../fonts/TTHoves-Regular.woff') format('woff'), url('../fonts/TTHoves-Regular.ttf') format('truetype'), url('../fonts/TTHoves-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'TTHoves';
	src: url('../fonts/TTHoves-Medium.eot');
	src: local('☺'), url('../fonts/TTHoves-Medium.woff') format('woff'), url('../fonts/TTHoves-Medium.ttf') format('truetype'), url('../fonts/TTHoves-Medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'TTHoves';
	src: url('../fonts/TTHoves-Light.eot');
	src: local('☺'), url('../fonts/TTHoves-Light.woff') format('woff'), url('../fonts/TTHoves-Light.ttf') format('truetype'), url('../fonts/TTHoves-Light.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'TTHoves';
	src: url('../fonts/TTHoves-Bold.eot');
	src: local('☺'), url('../fonts/TTHoves-Bold.woff') format('woff'), url('../fonts/TTHoves-Bold.ttf') format('truetype'), url('../fonts/TTHoves-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'SFProDisplay';
	src: url('../fonts/SFProDisplay-Bold.eot');
	src: local('☺'), url('../fonts/SFProDisplay-Bold.woff') format('woff'), url('../fonts/SFProDisplay-Bold.ttf') format('truetype'), url('../fonts/SFProDisplay-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
    font-family: 'TTHoves', sans-serif;
    margin: 0;
    padding: 0;
	line-height: 1;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
}

//link file
@import 'base/mixin';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/slider';
@import 'blocks/slick';
@import 'blocks/company';
@import 'blocks/tasks';
@import 'blocks/title';
@import 'blocks/project';

//container

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;  
}