.button {
    position: absolute;
    width: 221.81px;
    height: 71px;
    color: #333;
    letter-spacing: .2em;
    text-transform: uppercase;
    text-align: center;
    left: 400px;
    padding-top: 25px;
    padding-right: 20px;
    top: 760px;
    cursor: pointer;
    background: url(../../img/slider/ico-shaperight.svg) no-repeat #fff;
    background-position: 82%;
}