@media (max-width: 1150px) {
    .container {
        max-width: 960px;
    }
    .slider {
        &__logo {
            display: none;
        }
        &__right {
            display: block;
            margin: 0 auto;
        }
        .slick-dots {
            position: absolute;
            display: block;
            width: 100%;
            padding: 0;
            list-style: none;
            text-align: center;
        }
        .slick-dots li {
            position: relative;
            display: inline-block;
            width: 20px;
            height: 20px;
            margin: 7px 5px;
            padding: 0;
            cursor: pointer;
        }
        
    }
}


@media (max-width: 780px) {
    .slider__right {
        display: block;
        position: absolute;
        margin: 0 auto;
        top: 0;
        left: 25%;
    }
    .slider__photo {
        width: 335px;
        img {
            max-width: 50%;
            height: 100%;
            margin: auto
        }
    }
}    
// @media (max-width: 710px) {
//     .container {
//         max-width: 520px;
//     }
//     .menu__item {
//         margin-right: 10px;
//     }
// }
