.slick-track {
    display: flex;
}

.slick-list {
    overflow: hidden;
}
// .slider__photo .slick-arrow, .slick-prev {
//     min-width: 53px;
//     min-height: 53px;
//     border: 1px solid #F2F2F2;
//     background: #fff;
//     font-size: 0;
// }

// .slider__photo .slick-arrow, .slick-next {
//     min-width: 53px;
//     min-height: 53px;
//     border: 1px solid #F2F2F2;
//     background: #fff;
//     font-size: 2px;
// }
.slider__photo {
    width: 770px;
    height: 829px;
    position: relative;
    img {
        max-width: 100%;
        height: 829px;
        margin: auto;
    }
}
.slider__photo .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 10;
}

.slider__photo .slick-arrow.slick-prev {
    left: -400px;
    top: 551px;
    font-size: 0;
    min-width: 53px;
    min-height: 53px;
    border: 1px solid #F2F2F2;
    background: url(../../img/slider/ico-shape.svg) center no-repeat;
    &:hover {
        cursor: pointer;
        background-color: #F9F9F9;
        transition: .3s;
    }
}

.slider__photo .slick-arrow.slick-next {
    left: -323px;
    top: 551px;
    font-size: 0;
    min-width: 53px;
    min-height: 53px;
    border: 1px solid #F2F2F2;
    background: #fff;
    background: url(../../img/slider/ico-shaperight.svg) center no-repeat;
    &:hover {
        cursor: pointer;
        background-color: #F9F9F9;
        transition: .3s;
    }
}
